{% extends 'layout.html' %}
{% block body %}

<br>
<br>
<form class="imgform" method="POST" enctype="multipart/form-data" action="/img2txt">
    <input type="file" id="myFile" name="uploaded-file" accept=".png">
    <input onclick="myfunctionh()" type="submit" value="Display Text">
</form>
<br>
<div class="" id="foo">
    {% if txt != null %}
    <p>{{txt}}</p>
    {% endif %}
</div>
  

<footer>
    <div class="footer w-full h-20 bg-slate-900 sm:hidden" style="font-size:0.5em">
        <p class="text-white text-center pt-4 font-bold mb-3">Contact You</p>
        <ul class="flex space-x-2 justify-center text-white">
            <li class="px-2">Ph: +91 9491982643</li>
            <li class="px-2">Email: FreeSoftwareWing@gmail.com</li>
            <li class="px-2">Address: GRIET Nizampet</li>
        </ul>
    </div>
</footer>
{% endblock%}